/* Responsive */
@media only screen and (max-width: 600px) {
    .main-header {flex-direction: column;}
}
    
    .logo-icon {margin-bottom: 10px}

@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
        flex-direction: column;}
}

@media only screen and (max-width: 600px) {
    .main-profile {flex-direction: column;}}
        
    .aside-profile {
        width: 100%;
        flex-direction: column;}

/* Sytle Header */
.main-header {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../assets/icon.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
    margin: 2px;
}

/* Banner */
@media only screen and (max-width: 400px) {
    .photo-banner {
        display: flex; 
        flex-direction: row;
    }}
    .photo {
        width: 100%;
        flex-direction: row;
}

.photo-banner {
    height: 270px;
    background-position: center;
    background-size: cover;
}

.photo-1 {
    background-image: url(../assets/skzoo1.jpg);
}

.photo-2 {
    background-image: url(../assets/skzmagic1.jpg);
}

.photo-3 {
    background-image: url(../assets/skzoo9.jpg);
}

.photo-4 {
    background-image: url(../assets/skzmagic.jpg);
}

.photo-5 {
    background-image: url(../assets/skzoo2.jpg);
}

.but {
    border-style: hidden
}

/* Profil */
.section-profile {
    text-align: center;
    background-color: cadetblue;
}

.profil-article {
    height: 30px;
}

.article {
    height: 300px;
}

.main-profile {
    display: flex;
    margin: 5px;
}

.aside-profile {
    padding: 5px;
    margin-right: auto;
}

/* Member SKZOO */
.section-member {
    text-align: center;
    background-color: cadetblue;
}

img {
    width: 60px;
}

#skzoo-article1 {
    display: flex;
    justify-content: space-around;
}

#skzoo-article2 {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    #skzoo-article1 {flex-direction: column;}
    #skzoo-article2 {flex-direction: column;}
}

/* Style Message */
.section-message-us {
    text-align: center;
    background-color: cadetblue;
}

.message-container {
    display: flex;
    justify-content: flex-start;
}

form>div {
    display: grid;
    margin-right: 100px;
}

aside>div {
    border: groove 1px;
    padding: 5px;
    border-color: darkgray;
    width: 200px;
}

/* Responsive Message */
@media only screen and (max-width: 600px) {
    .message-container {flex-direction: column;}
}

.aside-pesan {margin-top: 10px}

/* Style Footer */
footer {
    background-color: darkgray;
}

footer>div {
    text-align: right;
    font-family: monospace;
    font-variant: oldstyle-nums;
    font-size: small;
}