.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../assets/icon.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.photo-banner {
    height: 250px;
    background-image: url(../assets/Skzooo.jpg);
    background-size: cover;
    background-position: center;
}

.article {
    height: 300px;
}

.message-container {
    display: flex;
}

footer>div {
    text-align: right;
    font-family: monospace;
    font-variant: oldstyle-nums;
    font-size: small;
}